@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background: url(../image/circulos.gif) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main .container-conversor {
  background-color: rgba(211, 211, 211, 0.5);
  border: 2px solid transparent;
  border-radius: 10px;
  width: 900px;
  height: 500px;
}

main .container-conversor .titulo {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #a9a9a9;
  height: 70px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-weight: bold;
}

main .container {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.container-center {
  min-width: 71%;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
  height: 330px;
}

.teclado .tecla {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #696969;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 10px;
}

.teclado .tecla:hover {
  background-color: #363636;
  color: white;
}

.teclado .tecla:disabled {
  background-color: #4f4f4f;
  color: black;
}

.teclaReset {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #778899;
  grid-area: 5/2/5/4;
  grid-column: 2/4;
  text-align: center;
  border-radius: 10px;
  font-size: 19px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.teclaReset:hover {
  background-color: #b0c4de;
  color: white;
}

.btn-converter {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #a9a9a9;
  min-width: 97%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 33px;
  font-weight: bold;
  margin-right: 25px;
  transition: 0.4s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.btn-converter:hover {
  background-color: #808080;
  transform: scale(1.01);
}
.limpa {
  background: center url(../image/backspace.svg) no-repeat;
}

select {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: none;
  font-size: 20px;
  margin: 15px 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: white;
}

option {
  color: white;
  background-color: #deb887;
}

input {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  padding-right: 15px;
  border-radius: 10px;
  /* color: white; */
  color: #a0522d;
}

.cor-fundo {
  background-color: #808080;
}

.rodape {
  text-align: center;
  margin-top: 20px;
  color: #dc143c;
}

